pipeline/ADXExport/SDMT-ADXExport.json
{
    "name": "SDMT-ADXExport",
    "properties": {
        "description": "Exports slices via an external table to the lake",
        "activities": [
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "GetSetSlicedImportObjectToLoad",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GetSetSlicedImportObjectToLoad').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "SetSlicedImportObjectStart",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderStoredProcedureName": "[Core].[SetSlicedImportObjectStart]",
                                    "storedProcedureParameters": {
                                        "PipelineRunId": {
                                            "type": "String",
                                            "value": {
                                                "value": "@pipeline().RunId",
                                                "type": "Expression"
                                            }
                                        },
                                        "SlicedImportObject_Id": {
                                            "type": "Guid",
                                            "value": {
                                                "value": "@item().SlicedImportObject_Id",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "dataset": {
                                    "referenceName": "SDMT_MetaData",
                                    "type": "DatasetReference"
                                }
                            }
                        },
                        {
                            "name": "SetSlicedImportObjectEnd",
                            "type": "Lookup",
                            "dependsOn": [
                                {
                                    "activity": "ExportSlice",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderStoredProcedureName": "[Core].[SetSlicedImportObjectEnd]",
                                    "storedProcedureParameters": {
                                        "RowsTransferred": {
                                            "type": "Int32",
                                            "value": {
                                                "value": "@activity('ExportSlice').output.value[0].NumRecords",
                                                "type": "Expression"
                                            }
                                        },
                                        "SlicedImportObject_Id": {
                                            "type": "Guid",
                                            "value": {
                                                "value": "@item().SlicedImportObject_Id",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "dataset": {
                                    "referenceName": "SDMT_MetaData",
                                    "type": "DatasetReference"
                                }
                            }
                        },
                        {
                            "name": "SetSlicedImportObjectError",
                            "type": "Lookup",
                            "dependsOn": [
                                {
                                    "activity": "ExportSlice",
                                    "dependencyConditions": [
                                        "Failed"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderStoredProcedureName": "[Core].[SetSlicedImportObjectError]",
                                    "storedProcedureParameters": {
                                        "Error": {
                                            "type": "String",
                                            "value": {
                                                "value": "@activity('ExportSlice').Error.message",
                                                "type": "Expression"
                                            }
                                        },
                                        "SlicedImportObject_Id": {
                                            "type": "Guid",
                                            "value": {
                                                "value": "@item().SlicedImportObject_Id",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "dataset": {
                                    "referenceName": "SDMT_MetaData",
                                    "type": "DatasetReference"
                                }
                            }
                        },
                        {
                            "name": "ExportSlice",
                            "description": "",
                            "type": "AzureDataExplorerCommand",
                            "dependsOn": [
                                {
                                    "activity": "SetSlicedImportObjectStart",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "command": {
                                    "value": "@activity('SetSlicedImportObjectStart').output.firstRow.ADXExportCommand",
                                    "type": "Expression"
                                },
                                "commandTimeout": "00:20:00"
                            },
                            "linkedServiceName": {
                                "referenceName": "SDMT_ADX",
                                "type": "LinkedServiceReference",
                                "parameters": {
                                    "DatabaseName": {
                                        "value": "@pipeline().parameters.ADX_DatabaseName",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "GetSetSlicedImportObjectToLoad",
                "description": "Get a list of the data slices to be transferred, based on the status and the start parameters.",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderStoredProcedureName": "[Core].[GetSetSlicedImportObjectToLoad]",
                        "storedProcedureParameters": {
                            "Mode": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().parameters.Mode",
                                    "type": "Expression"
                                }
                            },
                            "SlicedImportObject_Id": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().parameters.SlicedImportObject_Id",
                                    "type": "Expression"
                                }
                            },
                            "SourceObject": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().parameters.SourceObject",
                                    "type": "Expression"
                                }
                            },
                            "SourceSchema": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().parameters.SourceSchema",
                                    "type": "Expression"
                                }
                            },
                            "SourceSystemName": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().parameters.SourceSystemName",
                                    "type": "Expression"
                                }
                            }
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "SDMT_MetaData",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            }
        ],
        "parameters": {
            "SourceSystemName": {
                "type": "string",
                "defaultValue": "ADX_ExportToLake"
            },
            "Mode": {
                "type": "string",
                "defaultValue": "REGULAR"
            },
            "DropTargetExtent": {
                "type": "bool",
                "defaultValue": true
            },
            "SourceSchema": {
                "type": "string",
                "defaultValue": "%"
            },
            "SourceObject": {
                "type": "string",
                "defaultValue": "%"
            },
            "SlicedImportObject_Id": {
                "type": "string",
                "defaultValue": "%"
            },
            "ADX_DatabaseName": {
                "type": "string",
                "defaultValue": "SDMT_Demo"
            }
        },
        "folder": {
            "name": "SDMT/ADXExport"
        },
        "annotations": [],
        "lastPublishTime": "2023-07-29T06:47:24Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}